body {
    font-size: 14px;
}

/*背景颜色*/
.bg-color {
    background: #f6f6f6;
}

/* 基础颜色 */
.primary-color {
    color: #53b551;
}

.primary-bg-color {
    background: #53b551;
}

/* 白色 */
.color-white {
    color: #ffffff;
}

.color-bg-white {
    background: #ffffff;
}

/* 红色 */
.danger-color {
    color: #ed6853;
}

.danger-bg-color {
    background: #ed6853;
}

/* 黄色 */
.warn-color {
    color: #f0af48;
}

.warn-bg-color {
    background: #f0af48;
}

/* 蓝色 */
.sky-bg-color {
    background: #47a8f4;
}

.blue-bg-color {
    background: #4d97f5;
}

/* 紫色 */
.violet-bg-color {
    background: #736af1;
}

/* 灰色 */
.color-gray {
    color: #b3b3b3;
}

.color-bg-gray {
    background: #f1f3f5;
}

.w-60 {
    width: 65% !important;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
    flex-shrink: 1;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-25 {
    font-size: 25px;
}

.fs-50 {
    font-size: 50px;
}

.cursor {
    cursor: pointer;
}

.left-inherit {
    left: inherit !important;
}

.radius-3 {
    border-radius: 3px;
}