html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
    background: url("../image/bg.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.row {
    background: skyblue;
}
